::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;

  &:hover {
    background: #666;
  }
}
